<!-- templates/file_list.html -->
 
<!DOCTYPE html>
<html>
<head>
    
    </script>
    <title>Data</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'upload/style.css' %}">
</head>
<body class="file-body">
    <div class="title">
        <h1>Data</h1>
        <a href="{% url 'upload:report' %}" >Generate Report</a>
                <a href="{% url 'upload:compare' %}" >Compare</a>

    </div>
    
    
    {% if not df.empty %}
    <form method="get">  <!-- Search form -->
        <input type="text" name="q" placeholder="Search..." value="{{ query|default_if_none:'' }}">
        <select name="column">  <!-- Column selection dropdown -->
            <option value="">All Columns</option>  <!-- Default option for searching all columns -->
            {% for column in page_obj.object_list.columns %}
                <option value="{{ column }}" {% if column == selected_column %}selected{% endif %}>{{ column }}</option>
            {% endfor %}
        </select>
        <button type="submit">Search</button>
    </form>
    <div class="center-flex">
        <table>
            <thead>
                <tr>
                    <th>Index</th>
                    {% for column in page_obj.object_list.columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for index, row in page_obj.object_list.iterrows %}

                    <tr>
                        <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                        {% for cell in row %}
                        <td> {{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <!-- Pagination controls -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No data available.</p>
    {% endif %}
    </ul>
</body>
</html> -->

